<% @cart.orders.each do |order| %>
  <% product = order.product%>
  <div id="<%= "cart-#{product.id}" %>">
    <div class="flex  my-5">
      <p class="text-2xl font-bold">Total:</p>
      <p class="text-2xl font-bold text-blue mx-3">$<%= order.total%></p>   
    </div>

    <strong>Name:</strong>
    <%= product.name %>
  
  
      <strong>Description:</strong>
      <%= product.description %>
  
  
        <strong>Price:</strong>
        <%= product.price %>
  
  
       <strong>Category:</strong>
          <%= product.category.name %>

            <%= form_with(url: cart_add_path) do |f|%>
              <%= f.hidden_field :id, value: product.id %>
              <%= f.number_field :quantity, value: order.quantity, min: 0, class: "quantity_field" %>
              <%= f.submit "Add to Cart",  class:"btn btn-blue" %>
            <%end%>
            <%= form_with(url: cart_remove_path) do |f|%>
              <%= f.hidden_field :id, value: order.id %>
              <%= f.submit "remove from Cart",  class:"btn btn-red" %>
            <%end%>

  </div>
<%end%>

