<p style="color: green"><%= notice %></p>

<%= render @category %>

<h2>Products</h2>
<div>  
  <% for product in @category.products %>
    <%= product.name %>
    <%= product.price %>
    <%= product.description %>
    <%= link_to "Show this product", category_product_path(@category, product) %>
  <% end %>

</div>
     

  <div>
    <%= link_to "Back to categories" , categories_path %> 
  </div>
<!-- <div>
  <%= link_to "Edit this category", edit_category_path(@category) %> |
  <%= link_to "Back to categories", categories_path %> |
  <%= link_to 'Add Product' , category_products_path(@category) %> |
  <%= button_to "Destroy this category", @category, method: :delete %>
</div> -->
