<div id="<%= dom_id product %>">
      <%= turbo_frame_tag "cart" do %>
      <%=link_to cart_path do%>
        <p>Total Cart: <%= @cart.total%>
        </p>
        <%end%>
        <%end%>
    <strong>Name:</strong>
    <%= product.name %>


    <strong>Description:</strong>
    <%= product.description %>


    <strong>Price:</strong>
    <%= product.price %>


    <strong>Category:</strong>
    <%= product.category.name %>
    <%= form_with(url: cart_add_path) do |f|%>
      <%= f.hidden_field :id, value: product.id %>
      <%= f.number_field :quantity, value: 0, min: 1 %>
      <%= f.submit "Add to Cart" %>
    <%end%>
</div>
