<p style="color: green"><%= notice %></p>

  <%= render @product %>
  <%= link_to "<<Back to products" , category_path(@category), class: "bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded" %>


<!-- <div>
  <%= link_to "Edit this product", edit_category_product_path(@category, @product) %> |
  <%= link_to "Back to products",  category_products_path(@category) %>

</div> -->

