<p style="color: green"><%= notice %></p>

<%= render @product %>
  <%= link_to "Back to products" , category_path(@category) %>


<!-- <div>
  <%= link_to "Edit this product", edit_category_product_path(@category, @product) %> |
  <%= link_to "Back to products",  category_products_path(@category) %>

</div> -->
