<!DOCTYPE html>
<html>
  <head>
    <title>EcommerceApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- <%= render partial: "cart/cart" if @render_cart %> -->
    <%= turbo_frame_tag "product" do %>
    <%=link_to cart_path do%>
      <p>Total Cart: <%= @cart.total%></p>
      <%end%>
    <%end%>
    <%= yield %>
  </body>
</html>
